.quick-reply-wrapper {
    display: flex;
    flex-direction: column;

    .quick-reply-suggestion {
        cursor: pointer;
        padding: 12px;
        margin: 4px 0;
        border-radius: 25px;
        border: 1px solid #e0e0e0;
    }
}